
/*=============================================
=            colors            =
=============================================*/


$primarycolor:#333333;
$secondarycolor:#777777;
$thirdcolor:#00c8c8;

/*=====  End of colors  ======*/


